/*__ Colours __*/
$primary-color: #1d72c2;
$secondary-color: #0683f9;
$tercerary-color: #8ec7fc;
$just-white: #ffffff;
$just-black: #000000;
$grey-color: #e8e8e8;
$grey-text-color: #5e5e5e;
$grey-bg-color: #dddddd;
$grey-border-color: #c6cacc;
$blue-bg-fill-color: #1cc1f5;
$light-blue-bg-color: #e6ffffff;
$yellow-bg-color: #ffc700;

$error-color: #de0028;
$success-color: #429c41;
